.main {
    margin: 0;
    height: 700px;
    display: flex;
}

.jumboImage {
    margin: 0;
    padding: 0;
    width: 40%;
}

.jumboBG {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    flex-grow: 1;
}