.main {
    margin: 0;
    height: 300px;
    display: flex;
}

.jumboBG {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100vw;
    flex-grow: 1;
}

.jumboTitle {
    font-family: 'DM Serif Display', serif;
}

.jumboText {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}

@media only screen and (min-width: 800px) {
    .main {
        height: 500px;
    }
    .jumboTitle {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1000px) {
    .main {
        height: 700px;
    }
    .jumboTitle {
        font-size: 5rem;
    }
    .jumboText {
        font-size: 1.2rem;
    }
}